
<section>

<div class="ls s-py-50 c-mb-20 light-mode"> <!-- Ajoutez la classe light-mode ici -->
    

    
    <div class="container ajust">

        <div class="row">
            
            <div class="col-md-12">
                <div class="col-md-12 text-center">
                    <h1 class="small-title">Testimonials</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"> Votre satisfaction , notre standard </li>
                    </ol>
                </div>
                <hr>
                <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <blockquote class="quote-item">
                                <div class="quote-image size-20">
                                    <img src="assets/images/testimonials_02.png" alt="">
                                </div>
                                <p class="small-text color-darkgrey">
                                    Yessine Gargouri,
                                    <span>co-Fondateur MarQenti</span>
                                </p>
                                <p>
                                    <em class="big">
                                        "En tant que client de DETEC, je suis impressionné par leur capacité à comprendre nos besoins et à les traduire en solutions efficaces. Leur professionnalisme et leur réactivité ont grandement contribué à la réussite de nos projets."
                                    </em>
                                </p>
                            </blockquote>
                        </div>
                        <!-- Ajoutez plus d'éléments ici -->
                        <div class="carousel-item">
                            <blockquote class="quote-item">
                                <div class="quote-image size-20">
                                    <img src="assets/images/testimonials_01.png" alt="">
                                </div>
                                <p class="small-text color-darkgrey">
                                    Elleuc med Amin,
                                    <span>fondateur MarQenti</span>
                                </p>
                                <p>
                                    <em class="big">
                                        "DETEC ne se contente pas de fournir des services, ils apportent une véritable valeur ajoutée à notre entreprise. Leur approche innovante et sur mesure nous permet de rester compétitifs dans un marché en constante évolution."
                                    </em>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>