html{
    background-color:#F9F8FA!important;
  }
  /* Styles de base pour le modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Fond translucide */
    padding-top: 100px; /* Espacement en haut pour centrer le contenu */
  }
  
  .modal.show {
    display: block; /* Affiche le modal lorsqu'il est actif */
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Ajustez selon la largeur désirée */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Ombre portée pour un effet de profondeur */
    border-radius: 10px; /* Bords arrondis */
  }
  
  /* Styles pour le bouton de fermeture */
  .close {
    position: absolute;
    top: 10px; /* Position en haut à droite */
    right: 15px; /* Espacement du bord droit */
    color: #aaa;
    font-size: 30px; /* Agrandir le symbole de fermeture */
    font-weight: bold;
    border: none; /* Supprimer la bordure par défaut */
    background: none; /* Supprimer le fond par défaut */
    cursor: pointer;
    border-radius: 50%; /* Rendre le bouton rond */
    padding: 0 6px; /* Petit padding pour le format rond */
    line-height: 30px; /* Hauteur de ligne pour centrer le 'x' verticalement */
  }
  
  .close:hover,
  .close:focus {
    color: #000; /* Changement de couleur au survol */
    text-decoration: none;
    transform: scale(1.1); /* Agrandissement au survol */
  }
  
  .btn {
    border-radius: 20px; /* Boutons arrondis */
  }
  
  /* Exemple pour les autres éléments de formulaire */
  input[type="text"], textarea, .form-control {
    border-radius: 5px; /* Bords légèrement arrondis pour les champs de formulaire */
  }
  
  button[type="submit"] {
    background-color: #4CAF50; /* Vert pour le bouton soumettre */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px; /* Boutons arrondis */
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; /* Un vert légèrement plus foncé au survol */
  }
  
  /* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  .table-striped tbody tr:nth-of-type(odd){
    background-color:transparent;
  }
  .modal.show {
    display: block;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */
  .btn {
    padding: 4px 8px;
    font-size: 16px; 
  }
  
  .btn i {
    margin-right: 0; /* Supprimer la marge si l'icône est seule dans le bouton */
  }
  .btn-standard {
  width: 90px;  /* Largeur fixe pour tous les boutons */
  height: 40px; /* Hauteur fixe pour tous les boutons */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Réinitialisation du padding pour un contrôle plus précis */
  font-size: 10px; /* Diminuer la taille de la police */
  
  }
  
  .page-container {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    width: 100%; /* Full width of the container */
  }
  app-sidebar{
    max-width:20%;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: #F9F8FA;
  
  }
  app-sidebar::-webkit-scrollbar{
  display: none;
    
  }
  .sidebar {
    width: 25%; /* Adjust width as needed */
    min-height: 100vh; /* Full height of the viewport */
  }
  .main-content::-webkit-scrollbar{
    display: none;
  
  }
  .table-responsive{
    height: 100%!important;
  
  }
  .main-content {
    width: 100%; /* Adjust width as needed */
    max-height: 100vh; /* Full height of the viewport */
    overflow-y: scroll;
    background-color: #f9F8fa;
  
  }
  .left-button-cont{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;}
  
  @media (max-width: 768px) {
    .page-container {
        flex-direction: column;
    }
  
    .sidebar, .main-content {
        width: 100%; /* Full width on small screens */
    }
  }
  /* .table.table-striped.mb-4.mx-4{
    position: relative;
      width: 95%;
      background-color: white;
      box-shadow: 0 20px 27px 0 #1f1f1f2e;
      border-radius: 2rem;
      border: 1px solid #faf1f13d;} */
      
    .card{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border-radius: 1rem;
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 21%);
      margin-left:20px;
      margin-right:20px;
  
    }
  .mb-4 {
      margin-bottom: 1.5rem !important;
  }
  .mx-4 {
      margin-right: 1.5rem !important;
      margin-left: 1.5rem !important;
  }
  .card .card-header {
      padding: 1.5rem;
  }
  
  .card-header:first-child {
      border-radius: 1rem 1rem 0 0;
  }
  .card-header {
      padding: .5rem 1rem;
      margin-bottom: 0;
      background-color: #fff;
      border-bottom: 0 solid rgba(0, 0, 0, .125);
  }
  .card .card-body {
      padding: 1.5rem;
  }
  
  .pb-2 {
      padding-bottom: .5rem !important;
  }
  .pt-0 {
      padding-top: 0 !important;
  }
  .px-0 {
      padding-right: 0 !important;
      padding-left: 0 !important;
  }
  .card-body {
      flex: 1 1 auto;
      padding: 1rem;
  }
  .btn{
    border-radius: 1rem;
  }
  .btn-secondary{
    color:white
  }
  .padi{
    margin-left: 2rem;
  }
  .coleu{
    color:#6c757d !important;
    border-radius: 0.5rem;
  }
  
  .nav-margi{
    position: absolute;
    z-index: 0;
  }
  .marg-4{
  margin-top:4%
  }
  .nav-link.active {
    background: white !important;}
    @media(max-width : 572px) {
      .btn-head-tab{
        height: 50px!important;
        width: 150px!important;
        font-size: 8px!important;
        font-weight: 700!important;
      }
    }
    @media(max-width : 426px) {
      .left-button-cont {  
        flex-direction: column!important;
    }
    }
    
  
  @media(max-width : 497px) {
    .nav-link {
      padding: 8px 0px;
      font-size: 12px;
      text-align: center;
    }
  
    .nav-tabs .nav-item {
      margin-bottom: 0;
      width: 33%;
    }
  
    @media(max-width : 400px) {
      .nav-link {
        font-size: 8px;
      }
    }
  }
  
  .nav {
    width: 90%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
  }
  .gutter-rule{
    margin-left:20px;
  }
  .card.gutty{
    padding-top:60px;
    padding-bottom:60px;
  }
  .navz{
    position:relative;

  }
  .container-gutter{
    margin:5%;
  }