<!-- <div class="container">
    <div class="card mx-4 mb-4">
        <div class="card-header">
            <h2>Détails du Projet: Projet Exemplaire</h2>
        </div>
        <div class="card-body px-0 pt-0 pb-0">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="d-flex flex-row justify-content-between card-header">
                            <div><p>Liste des Salaires</p></div>
                            <div><button class="btn btn-secondary btn-head-tab" (click)="onAddEmployee()">+ Nouvel Employé</button></div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Employé</th>
                                        <th>Montant Reçu Hier</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Alice Martin</td>
                                        <td>250 €</td>
                                        <td>
                                            <button class="btn btn-secondary" (click)="onEditEmployee(employee)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-danger" (click)="onDeleteEmployee(employee.id)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bob Lemoine</td>
                                        <td>150 €</td>
                                        <td>
                                            <button class="btn btn-secondary" (click)="onEditEmployee(employee)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-danger" (click)="onDeleteEmployee(employee.id)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5>Total des Salaires: 400 €</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="d-flex flex-row justify-content-between card-header">
                            <div><p>Liste des Charges</p></div>
                            <div><button class="btn btn-secondary btn-head-tab" (click)="onAddCharge()">+ Nouvelle Charge</button></div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Type de Charge</th>
                                        <th>Montant</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Matériel</td>
                                        <td>500 €</td>
                                        <td>
                                            <button class="btn btn-secondary" (click)="onEditCharge(charge)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-danger" (click)="onDeleteCharge(charge.id)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Logiciel</td>
                                        <td>300 €</td>
                                        <td>
                                            <button class="btn btn-secondary" (click)="onEditCharge(charge)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-danger" (click)="onDeleteCharge(charge.id)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5>Total des Charges: 800 €</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 -->


    <div class=" mx-4 mb-4 ds">
        <div class="text-center col-md-12" >
            <h2>Détails du Projet: {{ project.name }}</h2>
        </div>
        <div class="container-gutter">
            <p>
                Ce projet est une collaboration entre plusieurs équipes, dirigée par un chef de projet dédié. Il inclut la planification, l'exécution et la clôture, avec une attention particulière à la qualité, aux délais et aux budgets. Le but est de fournir des résultats optimaux en utilisant des ressources efficacement et en assurant une communication transparente entre toutes les parties prenantes.            </p>

            <ul class="list-styled">
                <li>
                    <a style="color: black;">Chef de projet: {{project.name_chef}} </a>
                </li>

            </ul>
            <p>
                {{project.description }}  
          </p>
            <!-- tabs start -->
        </div>
        <div class="container-gutter">
        <div class="gutter-rule">
            <div class="col-lg-12">
                <h3 class="ml-5">Simple Tabs</h3>
                <div class="col-md-12"></div>
                <ul class="nav nav-tabs nav-margi navz" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link coleu active" id="tab01" data-toggle="tab" 
                            role="tab" aria-controls="tab01_pane"
                            aria-expanded="true" (click)="activeTab = 'factdaily'" [class.active]="activeTab === 'factdaily'">Daily Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link coleu" id="tab02" data-toggle="tab" 
                             role="tab" aria-controls="tab03_pane" (click)="activeTab = 'factmois'" [class.active]="activeTab === 'factmois'">Facture (moin precedent)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link coleu" id="tab03" 
                             data-toggle="tab" role="tab"
                            aria-controls="tab02_pane" (click)="activeTab = 'factannee'" [class.active]="activeTab === 'factannee'">Facture (anée precedent)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link coleu" id="tab04" data-toggle="tab" 
                             role="tab" aria-controls="tab03_pane" (click)="activeTab = 'facttotal'" [class.active]="activeTab === 'facttotal'">Facture (duré du projet)</a>
                    </li>
                </ul>
            </div>
        </div>
        <app-factdaily *ngIf="activeTab === 'factdaily'" ></app-factdaily>
        <app-factmois *ngIf="activeTab === 'factmois'" [projectId]="project.id"></app-factmois>
        <app-factannee *ngIf="activeTab === 'factannee'" [projectId]="project.id"></app-factannee>
        <app-facttotal *ngIf="activeTab === 'facttotal'" [projectId]="project.id"></app-facttotal>

       