<section class="ls s-pt-75 s-pb-40 s-pt-lg-50 s-pb-lg-75 careers">
    <div class="container">
        <div class="row ">

            <div class="d-none d-lg-block divider-60"></div>

            <div class="col-md-12">

                <h4>Travaillez Avec Nous</h4>

                <h5 class="color-main">Expertise en Soudage de la Région Sud</h5>
                <p style="text-align: justify; text-align-last: center">
                    <span style="font-weight: bold;">DETEC SERVICE-INDUSTRIELS</span> est une entreprise de référence dans le domaine de la soudure et de la métallurgie. Nous nous distinguons par notre engagement envers la qualité, l'innovation et la précision. Grâce à notre expertise et à nos technologies de pointe, nous réalisons des projets ambitieux qui répondent aux besoins spécifiques de nos clients.
                </p>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <ul class="list-styled">
                            <li class="part1-list-item">Projets de soudure sur mesure</li>
                            <li class="part1-list-item">Utilisation de technologies de pointe</li>
                            <li class="part1-list-item">Engagement envers la satisfaction client</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-styled">
                            <li class="part1-list-item">Innovation continue</li>
                            <li class="part1-list-item">Respect des normes environnementales</li>
                            <li class="part1-list-item">Formation et développement de nos équipes</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="d-none d-lg-block divider-10"></div>
    </div>
</section>
