.ds .top-includes a.fa:hover{
  background-color:transparent!important;
}
/* styles.css */
#navbar {
  transition: top 0.3s;
}
/* navbar.component.css */

/* Define the initial and target states for the morph transition */
.navbars {
transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Define transition for other elements if needed */


#navbar.hidden {
  top: -100px; /* Adjust based on your navbar height */
}
/* #canvas:not(.boxed) .header_absolute .page_header.affix-top {
  background-color: rgba(0, 0, 0, 0.4);
} */
#canvas:not(.boxed) .ds.header_absolute .page_header.affix-top {
background-color: rgba(0, 0, 0, 0.4)!important;
}
#canvas:not(.boxed) .ls.header_absolute .page_header.affix-top {
background-color: rgba(255 255 255 / 40%)!important;
}
