.ds .top-includes a.fa:hover{
    background-color:transparent!important;
}
/* styles.css */
 #navbar {
    transition: top 0.3s;

  }
  /* navbar.component.css */

/* Define the initial and target states for the morph transition */
.ds.navbars {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  box-shadow: -1px 16px 49px 10px rgba(101, 101, 101, 0.75);

}
.ls.navbars {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

}

/* Define transition for other elements if needed */

  
  #navbar.hidden {
    top: -100px; /* Adjust based on your navbar height */
  }
  /* #canvas:not(.boxed) .header_absolute .page_header.affix-top {
    background-color: rgba(0, 0, 0, 0.4);
  } */
#canvas:not(.boxed) .ds.header_absolute .page_header.affix-top {
	background-color: rgba(0, 0, 0, 0.4)!important;
}
#canvas:not(.boxed) .ls.header_absolute .page_header.affix-top {
	background-color: rgba(255 255 255 / 40%)!important;
}
@media (max-width: 1199px) {
  .ds .sf-menu {
      background-color: #1b232a!important;
      opacity: 1;
      right: 0;
  }
  .ls .sf-menu {
    background-color: #ffffff!important;
    opacity: 1;
    right: 0;
}
.ds .sf-menu a {
  color: #fff;
  display: block;
  padding: 10px 10px;
  z-index: 2;
}
.ls .sf-menu a {
  color: #000000;
  display: block;
  padding: 10px 10px;
  z-index: 2;
}
}