.ls h2{
    color:white;
}
.ls h3{
    color:white;
}
.ls .cs{
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1c242c8a;
}
.ls .cs1{
    color:white;

}
.ls .cs1{
    color: white;
}
.ds .cs{
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #1c242c8a;
    mix-blend-mode: screen; /* This makes the cutout text possible */

}
.header_absolute .page_header.affix-top {
    background-color: rgb(255 255 255 / 40%);
}
    @media (max-width: 991px) {

        .ls h2{
            color:black;
        }
        .ls h3{
            color:black;
        } 
        .page_slider .flex-control-nav{
            bottom: 3%  !important;
        }
    }
