<section class="ls page_slider">
    <div class="flexslider">
        <ul class="slides">
            <li class="ls ms text-center mobile" >
                <div class="nbg-video">

                <div class="container hero-typo">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">


                                <div class="intro_layers">
                                    <div class="intro_layer"  >
                                        <h3 class="intro_before_featured_word cs1">
                                            Précision Ponctuelle
                                        </h3>
                                    </div>
                                    <div class="intro_layer"  >
                                        <h2 class="text-uppercase intro_featured_word cs">
                                            Votre vision                                       </h2>
                                    </div>
                                    <div class="intro_layer"  >
                                        <h2 class=" text-uppercase intro_featured_word after_featured cs">
                                             parfaitement soudée                                        </h2>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                    <video autoplay muted loop class="video-bg">
                        <source src="./assets/images/video11.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <!-- eof .container-fluid -->
            </li>

        </ul>
    </div>
    <!-- eof flexslider -->
</section>