							<article class="cover-image ls s-overlay post type-post status-publish format-status has-post-thumbnail">
								<div class="post-thumbnail">
									<a href="blog-single-full.html">
										<img src="images/gallery/06.jpg" alt="">
									</a>
								</div>
								<!-- .post-thumbnail -->
								<header class="entry-header">
									<img src="images/team/02.jpg" class="avatar" alt="">
 
                        
                                                <div class="col-md-12 text-center">
                                                    <h1 class="small-title">Location de Main-d'œuvre    </h1>
                                                    <ol class="breadcrumb">
    
                                                        <li class="breadcrumb-item active">
                                                            DANS LE DOMAINE DE LA SOUDURE

                                                        </li>
                                                    </ol>
                                                </div>
<hr>

									<div class="entry-meta">
										<h4 class="entry-title">
											<p  rel="bookmark">
                                                Besoin de main-d’œuvre qualifiée pour des modifications d'équipement nécessitant des compétences en soudure ? Notre entreprise est à votre disposition pour vous aider. Nous offrons des services de soudeurs autonomes, capables d'intervenir efficacement dans tous les types d'environnements. Nos employés polyvalents sont prêts à se déplacer partout au Canada pour répondre à vos besoins                                            </p>
										</h4>
                                        <br>
                                        <h4 class="entry-title">
											<p  rel="bookmark">
                                                À votre disposition en permanence, nos employés certifiés et prêts à intervenir sont équipés pour répondre à vos besoins durant vos arrêts de production planifiés, assurant une disponibilité constante pour toutes vos demandes.                                            </p>
										</h4>
                                        
										<!-- <span class="cat-links">

											<span class="screen-reader-text">Categories</span>
											<a  >
												
                                                En tout temps à votre disposition, nos employés certifiés en chantier disponibles sont en mesure de répondre à vos besoins lors de vos arrêts de production planifiés, afin de répondre en tout temps à vos demandes.											</a>
										</span> -->

										<span class="byline">
										</span>
                                        <div class="image-container">
                                            <img src="./assets/images/16.jpg" alt="">
                                        </div>
                                        <a routerLink="/formulaire" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn ds">Réserver votre equipe</a>
										<span class="entry-meta-divider"></span>
										<span class="screen-reader-text">Posted on</span>
										<!-- <a href="blog-single-full.html" rel="bookmark">
											<time class="entry-date published updated" datetime="2018-03-18T15:15:12+00:00">06.11.17
											</time>
										</a> -->

									</div>
									<!-- .entry-meta -->
								</header>
								<!-- .entry-header -->
							</article>