<div class="heigth-100vh">
<section class="page_title ds s-pt-100 s-pb-50 s-pt-md-75 s-pb-md-25 full-height bado pad-top-11vh">
  <div class="container pad">
    <div class="row">
      <div class="d-none d-lg-block divider-90"></div>
      <div class="col-md-12 text-center">
        <h1>Account - Sign-In</h1>
        <ol class="breadcrumb">
          <a class="breadcrumb-item active" routerLink="/registration" routerLinkActive="active" ariaCurrentWhenActive="page">
            Sign-In
          </a>
          <a class="breadcrumb-item" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">
            Sign-Up
          </a>
        </ol>
      </div>
      <div class="d-none d-lg-block divider-15"></div>
    </div>
  </div>
</section>

<section class="ds s-py-50 h-100 koko">
  <div class="container pado full-height d-flex align-items-center justify-content-center">
    <div class="row full-width">
      <div class="d-none d-lg-block divider-70"></div>
      <main class="col-lg-12">
        <article>
          <div class="entry-content">
            <div class="woocommerce">
              <form class="woocommerce-form woocommerce-form-login login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                  <label for="email">Email address <span class="required">*</span></label>
                  <input type="email" class="woocommerce-Input woocommerce-input-text input-text text-center" formControlName="email" id="email" placeholder="Email address">
                </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                  <label for="password">Password <span class="required">*</span></label>
                  <input type="password" class="woocommerce-Input woocommerce-input-text input-text text-center" formControlName="password" id="password" placeholder="Password">
                </p>
                <p class="form-row text-center">
                  <button type="submit" class="woocommerce-Button button" >Login</button>
                <!-- </p>routerLink="/homeAdmin" routerLinkActive="active" ariaCurrentWhenActive="page" -->
                <p class="woocommerce-LostPassword lost_password text-center">
                  <a routerLink="/resetpwd" routerLinkActive="active" ariaCurrentWhenActive="page">Lost your password?</a>
                </p>
              </form>
            </div>
          </div>
        </article>
      </main>
      <div class="d-none d-lg-block divider-70"></div>
    </div>
  </div>
</section>
</div>