.ds .top-includes a.fa:hover{
  background-color:transparent!important;
}
/* styles.css */
#navbar {
  transition: top 0.3s;
}
/* navbar.component.css */

/* Define the initial and target states for the morph transition */
.navbars {
transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Define transition for other elements if needed */


#navbar.hidden {
  top: -100px; /* Adjust based on your navbar height */
}
/* #canvas:not(.boxed) .header_absolute .page_header.affix-top {
  background-color: rgba(0, 0, 0, 0.4);
} */
#canvas:not(.boxed) .ds.header_absolute .page_header.affix-top {
background-color: rgba(0, 0, 0, 0.4)!important;
}
#canvas:not(.boxed) .ls.header_absolute .page_header.affix-top {
background-color: rgba(255 255 255 / 40%)!important;
}

/* Add these styles in your CSS file */

.dropdown-menu {
  display: none;
  position: absolute;
  top: 45px; /* Adjust based on your icon size */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
@media (max-width: 1199px) {
  .ds .sf-menu {
      background-color: #1b232a!important;
      opacity: 1;
      right: 0;
  }
  .ls .sf-menu {
    background-color: #ffffff!important;
    opacity: 1;
    right: 0;
}
.ds .sf-menu a {
  color: #fff;
  display: block;
  padding: 10px 10px;
  z-index: 2;
}
.ls .sf-menu a {
  color: #000000;
  display: block;
  padding: 10px 10px;
  z-index: 2;
}
}

