<!-- <section class=" s-py-60 s-pt-lg-75 s-pb-lg-100 ls about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block divider-30"></div>
            <div class="col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <h2>
                        Bienvenu dans
                        <mark >DETEC-SI!</mark>
                    </h2>
                    <p>
                        Nous somme les leader du domaine de la soudage sous-traitance . Nous utilisons des équipements de pointe et des techniques de soudure de haute qualité pour assurer l'excellence et la précision de nos travaux. 
                    </p>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block divider-10"></div>
    </div>
</section> -->


<section class="ls s-pt-0 s-pb-20 s-py-md-20 s-pt-lg-100 s-pb-lg-75 c-my-5 c-gutter-100 founder-bio" id="founder">
    <a href="/home" class="return-btn"><i class="fa fa-arrow-left mr-1"></i> Return</a>
    
    <!-- <div id="welcome" class="cover-image s-cover-left"></div> -->
    <!-- half image background element -->
    <div class="container paddy">
        <a href="/home" class="for-mobile-btn"><i class="fa fa-arrow-left mr-1"></i> Return</a>
        
        <div class="row align-items-center">
            <div class="col-lg-6 order-md-1 text-center hide-under-992">
                <div class="images-wrap-item img-left  ">
                <img  src="./assets/images/kkk.png" alt="">
                <img  class ="image-back" src="./assets/images/bg-dark.png" alt="">
                </div>
                <!-- half image source -->
            </div>
            <div class="col-lg-6 order-md-2">
                <div class="item-content">
                    <h2>
                         DETEC <mark>SERVICES INDUSTRIELS</mark>
                    </h2>
                    <p class="small-text color-main">
                        Réserver votre equipe 
                    </p>
                    <hr>

                    <form class="contact-form  c-mb-20 c-gutter-20" method="post" action="/">
                        <!-- Name Field -->
                        <div class="form-group has-placeholder">
                            <label for="name">Full Name <span class="required">*</span></label>
                            <i class="fa fa-user color-darkgrey"></i>
                            <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                    
                        <!-- Email Field -->
                        <div class="form-group has-placeholder">
                            <label for="email">Email address <span class="required">*</span></label>
                            <i class="fa fa-envelope color-darkgrey"></i>
                            <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email">
                        </div>

                        <div class="form-group has-placeholder">
                            <label for="tel">Num Teliphone <span class="required">*</span></label>
                            <i class="fa  fa-phone color-darkgrey"></i>
                            <input type="text" aria-required="true" size="30" value="" name="tel" id="tel" class="form-control" placeholder="Teliphone">
                        </div>
                        <div class="form-group has-placeholder">
                            <label for="company">Nom d'entreprise <span class="required">*</span></label>
                            <i class="fa fa-drivers-license color-darkgrey"></i>
                            <input type="text" aria-required="true" size="30" value="" name="company" id="company" class="form-control" placeholder="entreprise">
                        </div>
                        <div class="row c-gutter-10 c-mb-10">
                            <div class="col-xs-12 col-12 col-lg-6 form-builder-item">
                                <div class="field-checkbox input-styled">
                                    <label>Nature de la demande	<sup>*</sup></label>
                                        <div class="checkbox custom-checkbox field-columns-1">
                                                <div class="options form-check">
                                                    <input type="checkbox" name="checkboxes_19067c1[]" value="Soudeur" id="form-checkbox-667bf4309ae93">
                                                    <label for="form-checkbox-667bf4309ae93" class="coli">
                                                        Soudeur							
                                                    </label>
                                                </div>
                                                <div class="options form-check">
                                                    <input type="checkbox" name="checkboxes_19067c1[]" value="Mécanique industriels " id="form-checkbox-667bf4309af6a">
                                                    <label for="form-checkbox-667bf4309af6a" class="coli">
                                                        Assembleur							
                                                    </label>
                                                </div>
                                                <div class="options form-check">
                                                    <input type="checkbox" name="checkboxes_19067c1[]" value="Soudeur Assembleur" id="form-checkbox-667bf4309af22">
                                                    <label for="form-checkbox-667bf4309af22" class="coli">
                                                        Soudeur Assembleur							
                                                    </label>
                                                </div>                                
                                                </div>
                                            </div>
                                        </div>
                        
                            <div class="col-xs-12 col-12 col-lg-6 form-builder-item">
                                <div class="field-checkbox input-styled">
                                    <label>Type de chantier <sup>*</sup></label>
                                    <div class="checkbox custom-checkbox field-columns-1">
                                                <div class="options form-check">
                                                    <input type="checkbox" name="checkboxes_5f11560[]" value="Mine" id="form-checkbox-667bf4309b24e">
                                                    <label for="form-checkbox-667bf4309b24e" class="coli">
                                                        Mine							
                                                    </label>
                                                </div>
                                                <div class="options form-check">
                                                    <input type="checkbox" name="checkboxes_5f11560[]" value="Aluminerie " id="form-checkbox-667bf4309b2b6">
                                                    <label for="form-checkbox-667bf4309b2b6" class="coli">
                                                        Aluminerie 							
                                                    </label>
                                                </div>
                                                <div class="options form-check">
                                                    <input type="checkbox" name="checkboxes_5f11560[]" value="Pâte à papier" id="form-checkbox-667bf4309b2ee">
                                                    <label for="form-checkbox-667bf4309b2ee" class="coli">
                                                        Pâte à papier							
                                                    </label>
                                                </div>
                                                <div class="options form-check">
                                                    <input type="checkbox" name="checkboxes_5f11560[]" value="Shop de Soudure " id="form-checkbox-667bf4309b322">
                                                    <label for="form-checkbox-667bf4309b322" class="coli">
                                                        Shop de Soudure 							
                                                    </label>
                                                </div>
                                                <div class="options form-check">
                                                    <input type="checkbox" name="checkboxes_5f11560[]" value="Construction" id="form-checkbox-667bf4309b354">
                                                    <label for="form-checkbox-667bf4309b354" class="coli">
                                                        Construction							
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <!-- Message Field -->
                        <div class="form-group has-placeholder">
                            <label for="message">Message</label>
                            <i class="fa fa-pencil color-darkgrey"></i>
                            <textarea aria-required="true" rows="6" cols="45" name="message" id="message" class="form-control" placeholder="Message"></textarea>
                        </div>
                    
                        <!-- Submit Button -->
                        <div >
                            <a _ngcontent-ng-c3190084024="" routerlink="/formulaire" routerlinkactive="active" ariacurrentwhenactive="page" class="btn black btn-form" ng-reflect-router-link="/formulaire" ng-reflect-router-link-active="active" ng-reflect-aria-current-when-active="page" href="/formulaire">Demander un Devis</a>
                        </div>
                    </form>
							</div>
						</div>
                    </div>
                </div>
</section>