.ls .btn.btn-link{
    color:#6e6e6e;
}
.ds .shadow-mid{
    box-shadow: 0px 2px 6px   rgba(255, 255, 255, 0.1);border:  solid #ffffff24;
}
.ds .shadow-mid:hover{
    box-shadow: 0px 5px 35px 0px  rgba(255, 255, 255, 0.1);border:  solid #ffffff24;
}

.ls .shadow-mid{
    box-shadow: 0px 2px 6px  rgba(0, 0, 0, 0.1);border:  1px solid #eee;
}
.ls .shadow-mid:hover{
    box-shadow: 0px 5px 35px 0px   rgba(0, 0, 0, 0.1);border:  1px solid #eee;
}
.ks{
    background-color: #b82020e0;
}
.kss{
    color:#fe0303;
}
.ls .kss{
    color:black;
}