<section class=" s-py-60 s-pt-lg-75 s-pb-lg-100 ls about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block divider-30"></div>
            <div class="col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <h2>
                        Bienvenu dans
                        <mark>DETEC!</mark>
                    </h2>
                    <p>
                        Nous somme les leader du domaine de la soudage sous-traitance . Nous utilisons des équipements de pointe et des techniques de soudure de haute qualité pour assurer l'excellence et la précision de nos travaux. 
                    </p>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block divider-10"></div>
    </div>
</section>


<section class="ls s-pt-0 s-pb-20 s-py-md-20 s-pt-lg-100 s-pb-lg-75 c-my-5 c-gutter-100 founder-bio" id="founder">
    <div id="welcome" class="cover-image s-cover-left"></div>
    <!-- half image background element -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1">
                <img  src="./assets/images/5.webp" alt="">
                <!-- half image source -->
            </div>
            <div class="col-md-6 order-md-2">
                <div class="item-content">
                    <h2>
                        <a href="team-single.html">Soudage Sur Mesure</a>
                    </h2>
                    <p class="small-text color-main">
                        Forgez la qualité et la précision 
                    </p>
                    <p style="text-align: justify;">
                        Une gestion de projet méticuleuse et des solutions clés en main sur mesure. Nous privilégions la précision et la qualité dans tous nos services de soudage, garantissant que chaque projet est réalisé selon vos besoins spécifiques et aux plus hauts standards d'excellence.
                    </p>

                </div>
            </div>
        </div>
        <div class="d-none d-lg-block divider-10"></div>
    </div>
</section>