<section class="ls s-pt-75 s-pb-30 s-pt-md-100 s-pb-md-75 s-py-lg-50 c-gutter-30 c-mb-50 c-mb-md-30">
	<div class="container">
		<div class="row">
            <div class="d-none d-lg-block divider-30"></div>
            <div class="col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <h2>
                        La Précision à Votre 

                        <mark>Service</mark>
                    </h2>
					<p >
						Chez Detec-Services-Industriels, nous comprenons l'importance de la précision et de la fiabilité dans le monde industriel. Notre engagement à fournir une main-d'œuvre qualifiée et polyvalente vous assure que chaque projet est réalisé avec le plus haut niveau de professionnalisme et d'efficacité. Découvrez comment nous pouvons transformer les défis complexes de votre entreprise en solutions innovantes et sur mesure.
					</p>
                    </div>

					
            </div>
        </div>
		<!-- <div class="row">
			<div *ngFor="let technique of techniques" class="col-12 col-md-6 col-lg-4">
			  <div class="vertical-item content-padding text-center grow">
				<div class="item-media">
				  <img [src]="technique.photo" alt="">
				  <div class="media-links"></div>
				</div>
				<div class="item-content hero-bg">
				  <h5>
						<a [routerLink]="['/sg', technique.id]" routerLinkActive="active" ariaCurrentWhenActive="page">
							{{ technique.title }}
						</a>
					</h5>
				  <p>{{ technique.recap }}</p>
				</div>
			  </div>
			</div> -->

			<section class="ls s-py-50 c-gutter-60 single-service">
				<div class="container">
					<div class="row">
						<div class="d-none d-lg-block divider-70"></div>
						<div class="col-lg-6 animate" data-animation="fadeInLeft">
							<img src="./assets/images/service/single-01.jpg" alt="">
						</div>
						<!-- .col-* -->
						<div class="col-lg-6 animate" data-animation="fadeInRight">
							<div class="item-content" style="font-size: 18px; line-height: 1.6;">
								<h3 style="font-size: 28px; font-weight: bold; margin-bottom: 20px;">Location de Main-d’Œuvre</h3>
								<p>
									Vous souhaitez diversifier vos produits et augmenter la capacité de production de votre entreprise ? Vous avez besoin d'une société capable de fournir un service de location de main-d'œuvre complet, allant des opérations les plus simples à la fabrication complète de pièces en aluminium, en acier inoxydable ou en acier ?
								</p>
								<p style="font-size: 20px; font-weight: bold; color: #C3001E; margin-top: 20px;">
									La solution est Detec-Services-Industriels !
								</p>
							</div>
						</div>
					</div>
			
					<div class="col-12 animate" data-animation="fadeInUp">
						<p class="after-content" style="font-size: 18px; line-height: 1.6; text-align: justify; margin-bottom: 20px;">
							Nous vous offrons un service de location de main-d'œuvre sur mesure, parfaitement adapté à vos exigences spécifiques. Ce service vous permettra d'économiser du temps et de l'argent tout en vous garantissant des prestations de qualité supérieure pour toutes vos productions, qu'elles soient de petite, moyenne ou grande envergure. Nous nous engageons à devenir votre partenaire de confiance, vous aidant ainsi à atteindre vos objectifs plus rapidement.
						</p>
						<h4 style="text-align: center; font-size: 24px; font-weight: bold; margin-bottom: 20px;">Main-d'œuvre disponible au sein de notre entreprise :</h4>
						<div class="row justify-content-center" style="text-align: center;">
							<div class="col-md-5">
								<ul class="list-styled ticket" style="padding-left: 0; list-style: none;">
									<li class="ticket" style="margin-bottom: 10px; font-size: 18px;">  Soudeur</li>
									<li class="ticket" style="margin-bottom: 10px; font-size: 18px;">  Monteur</li>
								</ul>
							</div>
							<div class="col-md-5">
								<ul class="list-styled ticket" style="padding-left: 0; list-style: none;">
									<li class="ticket" style="margin-bottom: 10px; font-size: 18px;">  Soudeur/Monteur sur lecture de plan</li>
									<li class="ticket" style="margin-bottom: 10px; font-size: 18px;">  Superviseur en soudage</li>
								</ul>
							</div>
						</div>
						<p style="text-align: center; font-size: 18px; margin-top: 20px;">
							Tous nos employés en location sont polyvalents et peuvent se déplacer partout au Canada.
						</p>
					</div>
			
					<div class="d-none d-lg-block divider-70"></div>
				</div>
			</section>
			
			<div class="row">
				<div class="d-none d-lg-block divider-30"></div>
				<div class="col-lg-8 offset-lg-2">
				  <div class="main-content text-center">
					<h2>
					  <mark>Expertise</mark> Industrielle Avancée
					</h2>
					<p>
						<span class="bolding">DETEC INDUSTRIELS SERVICES</span>  est également un expert dans le choix des adhésifs et des matériaux d'assemblage. Les adhésifs sont choisis en fonction de critères tels que la résistance à la traction, la résistance à la température, la compatibilité avec les matériaux à assembler ainsi que la résistance à l'eau et aux produits chimiques.
						Les matériaux d'assemblage sont soigneusement sélectionnés pour assurer une performance optimale et une longue durée de vie.
											</p>
				  </div>
				</div>
			  </div>
			<div class="row">
			
				<div class="d-none d-lg-block divider-70"></div>
	
	
				<div class="col-lg-6 animate" data-animation="fadeInLeft">
					<img src="./assets/images/service/single-01.jpg" alt="">
				</div>
				<!-- .col-* -->
				<div class="col-lg-6 animate" data-animation="fadeInRight">
					<div class="item-content">
						<h3>Assemblage </h3>
						<p>
							Nous comprenons l'importance de l'assemblage dans la réussite de vos projets. Notre équipe est habituée à travailler en étroite collaboration avec vos équipes pour garantir un assemblage parfaitement aligné avec vos spécifications.						</p>
						<ul class="list-styled ticket">
							<li class="ticket">
								<strong class="ticket">Netteté Innovante :</strong>Nous réduisons les projections et résidus, simplifiant le nettoyage et maintenant la propreté du site.
							</li>
							<li>
								<strong class="ticket"> Efficacité Optimale :</strong>
								Nos méthodes avancées accélèrent les soudures, boostant la productivité et le respect des délais.
							</li>
						
						</ul>
					</div>
				</div></div>					
				<div class="row">
			
					<div class="d-none d-lg-block divider-70"></div>
		
		
					
					<!-- .col-* -->
					<div class="col-lg-6 animate" data-animation="fadeInRight">
						<div class="item-content">
							<h3>Montage de Tuyauterie </h3>
							<p>
								Nous comprenons l'importance fondamentale du montage de tuyauterie dans la réussite de vos projets. Notre équipe aguerrie travaille en étroite collaboration avec vos équipes pour garantir un assemblage parfaitement aligné avec vos spécifications, assurant ainsi l'intégrité et la performance optimale de votre réseau de tuyauterie.							</p>
								<ul class="list-styled ticket">
									<li class="ticket">
										<strong class="ticket">Excellence en Montage :</strong> Nous garantissons l'intégrité et la performance de vos réseaux de tuyauterie, respectant scrupuleusement vos spécifications.
									</li>
									<li class="ticket">
										<strong class="ticket">Collaboration et Précision:</strong> Notre équipe collabore étroitement avec la vôtre pour assurer un assemblage précis et conforme à vos attentes.
									</li>
								</ul>
								
							
						</div>
						
					</div><div class="col-lg-6 animate" data-animation="fadeInLeft">
						<img src="./assets/images/service/single-01.jpg" alt="">
					</div></div>
		</div>
</section>