
<section class="ls s-pt-75 s-pb-20 s-pt-lg-100 s-pb-lg-30 c-gutter-60 c-mb-50 c-mb-md-60 service-icon" id="services">
    <section class=" s-bordertop s-py-40 bg-line ">  
		<div class="container-fluid">
			<div class="row">
				<div class="d-none d-lg-block divider-10"></div>
				<div class="col-sm-12 text-center">
					<div class="owl-carousel partners-carousel owl-loaded owl-drag owl-theme owl-center" data-center="true" data-loop="true" data-responsive-lg="7 " data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="2">
						
					<div class="owl-stage-outer"><div class="owl-stage"></div></div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="col-sm-12 text-center header-section">
			<h2 style="text-align: center; color: white;">Introduisant Nos Expertises</h2>
			<p style="text-align: center;"><span style="color: white;"> Offrant des services de soudage de métal de haute qualité avec précision, fiabilité et innovation pour répondre à vos besoins industriels.</span></p>
		</div>
		<div class="row">
            <div class="col-12 col-md-6 col-lg-4 animate animated fadeInUp" style="z-index:999;" data-animation="fadeInUp">
                <div class="ls icon-box text-center service-box service-dark grow" >
                    <img src="./assets/images/icon-01.png" alt="">
                    <h5>
                        <a href="service-single.html" >Créativité</a>
                    </h5>
                    <p >
                        Innovation et esthétique dans chaque projet
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 animate animated fadeInUp" style="z-index:999 ;" data-animation="fadeInUp">
                <div class="ls icon-box text-center service-box service-dark grow">
                    <img src="./assets/images/icon-02.png" alt="">
                    <h5>
                        <a href="service-single.html">Fiabilité</a>
                    </h5>
                    <p>
                        Des résultats fiables, même sous pression.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 animate animated fadeInUp" style="z-index:999 ;" data-animation="fadeInUp">
                <div class="ls icon-box text-center service-box service-dark grow">
                    <img src="./assets/images/icon-03.png" alt="">
                    <h5>
                        <a href="service-single.html">Qualité</a>
                    </h5>
                    <p>
                        Un accompagnement dédié du début à la fin.
                    </p>
                </div>
            </div>

						<div class="col-12 col-md-6 col-lg-4 animate animated fadeInUp" style="z-index:999 ;" data-animation="fadeInUp">
							<div class="ls icon-box text-center service-box service-dark grow">
								<img src="./assets/images/icon-04.png" alt="">
								<h5>
									<a href="service-single.html">Précision</a>
								</h5>
								<p>
									Exactitude méticuleuse pour chaque spécification.
								</p>
							</div>
						</div>
						<!-- .col-* -->
						<div class="col-12 col-md-6 col-lg-4 animate animated fadeInUp" style="z-index:999 ;" data-animation="fadeInUp">
							<div class="ls icon-box text-center service-box service-dark grow">
								<img src="./assets/images/icon-05.png" alt="">
								<h5>
									<a href="service-single.html">Expérience</a>
								</h5>
								<p>
									Des décennies d'expertise en soudage et métallurgie.								</p>
							</div>
						</div>
						<!-- .col-* -->
						<div class="col-12 col-md-6 col-lg-4 animate animated fadeInUp" style="z-index:999 ;" data-animation="fadeInUp">
							<div class="ls icon-box text-center service-box service-dark grow">
								<img src="./assets/images/icon-06.png" alt="">
								<h5>
									<a href="service-single.html">Diversité</a>
								</h5>
								<p>
									Expertise étendue en solutions métalliques.
								</p>
							</div>
						</div>
						<!-- .col-* -->
						<div class="d-none d-lg-block divider-25"></div>
					</div>
				</div>
			</section>