<section class="ds s-py-75 s-py-lg-50">
    <div class="container">
        <div class="row">

            <div class="d-none d-lg-block divider-70"></div>

            <div class="col-lg-10 offset-lg-1">

                <div class="vertical-item content-padding hero-bg text-center">
                    <div class="item-media">
                        <!-- Carousel -->
                                 <!-- Boutons de contrôle du carrousel -->
                        <button id="previous-btn" class="control-btn top-left  Example of.fa-share"></button>
                        <button id="prev-slide" class="control-btn bottom-left">Prev Slide</button>
                        <button id="next-slide" class="control-btn bottom-right">Next Slide</button>

                        <div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-dots="true">
                            <a href="images/gallery/04.jpg" class="photoswipe-link" data-width="1170" data-height="780">
                                <img src="assets/images/gallery/04.jpg" alt="">
                            </a>
                            <a href="images/gallery/05.jpg" class="photoswipe-link" data-width="1170" data-height="780" data-iframe="https://www.youtube.com/embed/mcixldqDIEQ">
                                <img src="assets/images/gallery/05.jpg" alt="">
                            </a>
                            <a href="images/gallery/06.jpg" class="photoswipe-link" data-width="1170" data-height="780" data-iframe="//player.vimeo.com/video/1084537">
                                <img src="assets/images/gallery/06.jpg" alt="">
                            </a>
                            <a href="images/gallery/07.jpg" class="photoswipe-link" data-width="1170" data-height="780">
                                <img src="assets/images/gallery/07.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3>Lorem Ipsum Dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <div class="social-icons">
                            <a href="#" class="fa fa-facebook" title="facebook"></a>
                            <a href="#" class="fa fa-twitter" title="twitter"></a>
                            <a href="#" class="fa fa-instagram" title="instagram"></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-none d-lg-block divider-70"></div>
        </div>


    </div>
</section>
