<div class="row ls">

    <div class="col-xl-3 col-lg-6 text-center">
        <div class="chart" data-size="240" data-percent="75" data-line="4" data-bgcolor="#e5e5e5" data-trackcolor="#fcbe11" data-speed="3200">
            <div class="chart-meta">
                <strong class="percent color-darkgrey">75</strong>
                <h4 class="text-uppercase thin">Strategy</h4>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 text-center">
        <div class="chart" data-size="240" data-percent="63" data-line="4" data-bgcolor="#e5e5e5" data-trackcolor="#f26f1f" data-speed="4800">
            <div class="chart-meta">
                <strong class="percent color-darkgrey">63</strong>
                <h4 class="text-uppercase thin">Marketing</h4>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 text-center">
        <div class="chart" data-size="240" data-percent="88" data-line="4" data-bgcolor="#e5e5e5" data-trackcolor="#82b440" data-speed="4100">
            <div class="chart-meta">
                <strong class="percent color-darkgrey">88</strong>
                <h4 class="text-uppercase thin">Social</h4>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 text-center">
        <div class="chart" data-size="240" data-percent="84" data-line="4" data-bgcolor="#e5e5e5" data-trackcolor="#56d7fe" data-speed="3200">
            <div class="chart-meta">
                <strong class="percent color-darkgrey">84</strong>
                <h4 class="text-uppercase thin">CEO</h4>
            </div>
        </div>
    </div>

    <div class="divider-40 d-none d-lg-block"></div>

</div>
