<!-- <div class="card mx-4 mb-4">
    <div class="d-flex flex-row justify-content-between card-header">
        <div><p>Liste de Mes Projets</p></div>
    </div>
    <div class="card-body px-0 pt-0 pb-0">
        <div class="table-responsive p-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Chef de Projet</th>
                        <th class="text-center">Nom du Projet</th>
                        <th class="text-center">Avancement</th>
                        <th class="text-center">Statut</th>
                        <th class="text-center">Date de Début</th>
                        <th class="text-center">Date de Fin</th>
                    </tr>
                </thead>
                <tbody *ngIf="(projects$ | async) as projects; else loading">
                    <tr *ngFor="let project of projects; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td class="text-center">
                            <img [src]="project.photo_chef" alt="{{ project.name_chef }}" width="50">
                            <div>{{ project.name_chef }}</div>
                        </td>
                        <td class="text-center">{{ project.name }}</td>
                        <td class="text-center">{{ project.progress }}</td>
                        <td class="text-center">{{ project.status }}</td>
                        <td class="text-center">{{ project.start_date | date }}</td>
                        <td class="text-center">{{ project.end_date | date }}</td>
                    </tr>
                    <tr *ngIf="projects.length === 0">
                        <td colspan="7" class="text-center">Aucun projet assigné.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="text-center">
        <p>Chargement des projets...</p>
    </div>
</ng-template> -->
