<!-- <section class=" s-py-60 s-pt-lg-75 s-pb-lg-100 ls about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block divider-30"></div>
            <div class="col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <h2>
                        Bienvenu dans
                        <mark >DETEC-SI!</mark>
                    </h2>
                    <p>
                        Nous somme les leader du domaine de la soudage sous-traitance . Nous utilisons des équipements de pointe et des techniques de soudure de haute qualité pour assurer l'excellence et la précision de nos travaux. 
                    </p>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block divider-10"></div>
    </div>
</section> -->


<section class="ls s-pt-0 s-pb-20 s-py-md-20 s-pt-lg-100 s-pb-lg-75 c-my-5 c-gutter-100 founder-bio" id="founder">
    
    <!-- <div id="welcome" class="cover-image s-cover-left"></div> -->
    <!-- half image background element -->
    <div class="container paddy">
        
        <div class="row align-items-center">
            <div class="col-lg-6 order-md-1 text-center">
                <div class="images-wrap-item img-left  ">
                <img  src="./assets/images/kkk.png" alt="">
                <img  class ="image-back" src="./assets/images/bg-dark.png" alt="">
                </div>
                <!-- half image source -->
            </div>
            <div class="col-lg-6 order-md-2">
                <div class="item-content">
                    <h2>
                         DETEC <mark>SERVICES INDUSTRIELS</mark>
                    </h2>
                    <p class="small-text color-main">
                        Forgez la qualité et la précision 
                    </p>
                    <hr>
                    <p style="text-align: justify;">
                        <span class="theme-color bolding">Detec Services-Industriels</span> offre une gamme étendue de services en assemblage, soudure et travaux industriels. Nous fournissons des solutions de sous-traitance adaptées à vos besoins, vous permettant ainsi d'économiser du temps et de l'argent. Notre équipe dynamique et compétente est spécialisée dans la conception, la fabrication et la soudure,  selon les exigences de nos clients.

                        Nous proposons également des services de location de personnel qualifié et professionnel pour répondre à vos besoins spécifiques. Que vous ayez besoin de planifier des arrêts de production dans des industries telles que les alumineries, les papeteries, les mines, les cimenteries ou toute autre usine nécessitant notre expertise, nous sommes prêts à vous accompagner. Notre équipe est également disposée à suivre les formations nécessaires pour obtenir votre approbation, faisant de nous un partenaire de confiance pour atteindre vos objectifs plus rapidement. Nous serions ravis de vous compter parmi nos clients.
                    
                    
                    
                    </p>


                </div>
            </div>
        </div>
        <div class="d-none d-lg-block divider-10"></div>
    </div>
</section>