<section class="ls s-py-50 c-my-20 c-gutter-60">
    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center"><h3>Les chiffres parlent d'eux-mêmes</h3></div>

            <div class="col-12">
                <hr>

                <div class="row">
                    <div class="col-sm-6 col-lg-4" *ngFor="let stat of stats">
                      <div class="icon-box text-center">
                        <div class="icon-styled color-main fs-28">
                          <i [class]="stat.photo"></i>
                        </div>
                        <p class="small-text fs">{{ stat.title }}</p>
                        <h3 class="special-heading text-uppercase counter-wrap color-darkgrey">
                          <span class="counter" data-from="1" [attr.data-to]="stat.percent" data-speed="3000">{{stat.percent}}</span>
                          <span class="counter-add">%</span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  
                  

            </div>

        </div>
        <div class="divider-70 d-none d-lg-block"></div>

    </div>

</section>
