

<section class="ls s-pt-60 s-pb-75 s-pb-md-100 s-pb-lg-75 s-py-lg-50">
    <div class="container">
        <div class="col-md-12 text-center"><h3>Notre portfolio</h3></div>

        <div class="row">

            <div class="d-none d-lg-block divider-25"></div>

            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-xl-7">
                        <div class="filters gallery-filters small-text text-lg-right">
                            <a class="lolo active selected"  href="#" data-filter="*" >All</a>
                            <a class="lolo"  href="#" data-filter=".decorative">GMAW</a>
                            <a class="lolo" href="#" data-filter=".facades">FCAW</a>
                            <a class="lolo" href="#" data-filter=".perforated">GTAW</a>                            <a class="lolo" href="#" data-filter=".facades">FCAW</a>
                            <a class="lolo" href="#" data-filter=".perforated">SAW</a>
                        </div>
                    </div>
                </div>


                <div class="row isotope-wrapper masonry-layout c-mb-30" data-filters=".gallery-filters">

                    <div class="col-xl-4 col-md-6 col-12 facades ">

                        <div class="vertical-item item-gallery content-absolute text-center ds">
                            <div class="item-media">
                                <img src="assets/images/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="link-zoom photoswipe-link" title="" ></a>
                                        <a class="link-anchor" title="" routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content gradientdarken-background ">
                                <h4>
                                    <a class="lorem" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Lorem ipsum dolor sit</a>
                                </h4>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-4 col-md-6 col-12 railings decorative">
                        <div class="vertical-item item-gallery content-absolute text-center ds">
                            <div class="item-media">
                                <img src="assets/images/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="link-zoom photoswipe-link" title="" ></a>
                                        <a class="link-anchor" title="" routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content gradientdarken-background">
                                <h4>
                                    <a class="lorem" >Amet contur sading</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 col-12 perforated  railings">
                        <div class="vertical-item item-gallery content-absolute text-center ds">
                            <div class="item-media">
                                <img src="assets/images/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="link-zoom photoswipe-link" title="" ></a>
                                        <a class="link-anchor" title=""routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content gradientdarken-background">
                                <h4>
                                    <a class="lorem"  >Elitr sed diam nonumy</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 col-12 facades perforated">
                        <div class="vertical-item item-gallery content-absolute text-center ds">
                            <div class="item-media">
                                <img src="assets/images/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="link-zoom photoswipe-link" title="" ></a>
                                        <a class="link-anchor" title=""routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content gradientdarken-background">
                                <h4>
                                    <a class="lorem"  >Tempor invidunt ut</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 col-12 railings decorative">
                        <div class="vertical-item item-gallery content-absolute text-center ds">
                            <div class="item-media">
                                <img src="assets/images/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="link-zoom photoswipe-link" title=""></a>
                                        <a class="link-anchor" title="" routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content gradientdarken-background">
                                <h4>
                                    <a class="lorem"  >Labore et dolore magna</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 col-12 perforated  railings">
                        <div class="vertical-item item-gallery content-absolute text-center ds">
                            <div class="item-media">
                                <img src="assets/images/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="link-zoom photoswipe-link" title="" ></a>
                                        <a class="link-anchor" title=""routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content gradientdarken-background">
                                <h4>
                                    <a class="lorem"  >Elitr sed diam nonumy</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 col-12 facades perforated">
                        <div class="vertical-item item-gallery content-absolute text-center ds">
                            <div class="item-media">
                                <img src="assets/images/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="link-zoom photoswipe-link" title="" ></a>
                                        <a class="link-anchor" title=""routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content gradientdarken-background">
                                <h4>
                                    <a class="lorem"  >Tempor invidunt ut</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 col-12 railings decorative">
                        <div class="vertical-item item-gallery content-absolute text-center ds">
                            <div class="item-media">
                                <img src="assets/images/05.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="link-zoom photoswipe-link" title=""></a>
                                        <a class="link-anchor" title="" routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content gradientdarken-background">
                                <h4>
                                    <a class="lorem"  >Labore et dolore magna</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                  
                </div>

            </div>

            <div class="d-none d-lg-block divider-70"></div>
        </div>

    </div>
</section>