<!-- <app-navbar></app-navbar> -->
<!-- <app-banner></app-banner> -->


<div class=" ls  row s-pb-75 s-pt-md-75" style="padding-top: 75px;">
    <div class="col-lg-12 text-center bg-theme">
        <h2 class="mb-2 titlle-theme">Contactez nous</h2>
    </div>
    <div class="col-lg-6 col-md-12">
        <app-form></app-form>
    </div>
    <div class="col-lg-6 col-md-12" style="align-content: center;">
        <app-map></app-map>
    </div>
</div>

<!-- <app-map></app-map> -->
<!-- <app-footer></app-footer> -->