
<section class="ls s-pt-0 s-pb-20 s-py-md-20 s-pt-lg-100 s-pb-lg-75 c-my-5 c-gutter-100 founder-bio" id="founder-thamer">
    <!-- <div class="cover-image s-cover-right"></div> -->
    <!-- half image background element -->
    <div class=" text-center">
        <h3>Nos Fondateurs</h3>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <img src="./assets/images/6.webp" alt="">
                <!-- half image source -->
            </div>
            <div class="col-md-6 order-md-1">
                <div class="item-content">
                    <h2>
                        <a href="team-single.html">Hatem Dabbabi </a>
                    </h2>
                    <p class="small-text color-main">
                        Directeur Generale
                    </p>
                    <p style="text-align: justify;">
                        &ldquo;Je suis Thamer , directeur generale de <span style="font-weight: bold;">DETEC SERVICE-INDUSTRIELS</span>                        . Ma vision  est de faire de l'innovation et de la qualité nos priorités absolues. Nous nous efforçons de fournir des solutions de soudure avancées qui répondent aux besoins spécifiques de nos clients, tout en respectant les normes environnementales les plus strictes.&ldquo;
                    </p>

                </div>
            </div>

        </div>

            </div>
</section>


<section class="ls s-pt-0 s-pb-20 s-py-md-20 s-pt-lg-100 s-pb-lg-75 c-my-5 c-gutter-100 founder-bio" id="founder-bilel">
    <!-- <div class="cover-image s-cover-left"></div> -->
    <!-- half image background element -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1">
                <img src="./assets/images/5.webp" alt="">
                <!-- half image source -->
            </div>
            <div class="col-md-6 order-md-2">
                <div class="item-content">
                    <h2>
                        <a href="team-single.html">Bilel Makni</a>
                    </h2>
                    <p class="small-text color-main">
                        Vise-Presedent
                    </p>
                    <p style="text-align: justify;">
                        &ldquo;Je suis Bilel Makni, vise president  de cette entreprise. Mon objectif est de garantir que nos pratiques de soudure respectent les normes les plus élevées tout en minimisant notre impact environnemental. Nous croyons fermement que la formation continue et le développement professionnel sont essentiels pour rester à la pointe de la technologie et fournir des résultats exceptionnels à nos clients.&ldquo;
                    </p>

                </div>
            </div>
        </div>
        <div class="d-none d-lg-block divider-10"></div>
    </div>
</section>
