.portfolio-gallery {
  padding-top: 140px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-item {
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .gallery-item {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex: 1 1 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal.show {
  display: flex;
}

.modal-content {
  width: 80%;
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prev,
.next {
  border: none!important;
  position: absolute;
  background-color: rgb(0 0 0 / 47%);
  color: #fff;
  padding: 12px;
  top: 45%;
  font-size: xxx-large;
  z-index: 9;
}

.prev:active,
.next:active {
  top: 45%!important;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  opacity: .8;
}

.close {
  z-index: 99;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-content: center;
  background: white;
  text-align: center;
  font-size: x-large;
  top: -15px;
  right: -15px;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.3s ease;
}

.slider-item {
  min-width: 100%;
  box-sizing: border-box;
}

.modal-image {
  width: 100%;
  height: 80vh;
  object-fit: contain;
  background-color: transparent;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail-item {
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail-item.active {
  border: 2px solid #fff;
}

.thumbnail-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
@media (max-width: 1011px){
  .modal-content{
    width: 100%;
  }
  .thumbnails{
    display: none;
  }
}
@media (max-width: 480px) {
  .modal-content {
    flex-direction: column;
  }

  .prev, .next {
    font-size: xx-large;
    padding: 10px;
  }

  .prev {
    left: 5px;
  }

  .next {
    right: 5px;
  }
}
