<section class="ls s-pt-60 s-pb-75 s-pb-md-100 s-pb-lg-75 s-py-lg-50 portfolio-gallery">
    <div class='col-gl-12 col-md-12 col-sm-12'>
      <div class="text-center">
        <h3>Notre portfolio</h3>
      </div>
    </div>
    <div class="gallery-container">
      <div *ngFor="let portfolio of portfolios; let i = index" class="gallery-item" (click)="openModal(i)">
        <img class="gallery-img" [src]="portfolio.photo" alt="Image description">
      </div>
    </div>
    <div [ngClass]="{'modal': true, 'show': showModal}" class="modal" (click)="closeModalOnBackground($event)">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close fa fa-times" (click)="closeModal()"></button>
        <button class="prev fa fa-angle-left" (click)="prevSlide()"></button>
        <button class="next fa fa-angle-right" (click)="nextSlide()"></button>
        <div class="slider">
          <div class="slider-track" #sliderTrack [style.transform]="transform">
            <div class="slider-item" *ngFor="let portfolio of portfolios">
              <img [src]="portfolio.photo" alt="Image description" class="modal-image">
            </div>
          </div>
        </div>
        <div class="thumbnails">
          <div *ngFor="let portfolio of portfolios; let i = index" class="thumbnail-item" [class.active]="i === selectedIndex" (click)="goToSlide(i)">
            <img [src]="portfolio.photo" alt="Thumbnail description" class="thumbnail-image">
          </div>
        </div>
      </div>
    </div>
  </section>
  