

<section class="ls s-pt-75 s-pb-30 s-pt-md-100 s-pb-md-75 s-py-lg-50 c-gutter-30 c-mb-50 c-mb-md-30">
	<div class="container">
		<div class="row">
            <div class="d-none d-lg-block divider-30"></div>
            <div class="col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <h2>
                        La Précision à Votre 

                        <mark>Service</mark>
                    </h2>
                    <p>
                        Chez DETEC, notre expertise en soudage dépasse les attentes. Nous combinons technologie avancée et savoir-faire technique pour offrir des solutions sur mesure qui renforcent votre compétitivité.                    </p>

                    </div>
            </div>
        </div>
		<div class="row">
			<div *ngFor="let technique of techniques" class="col-12 col-md-6 col-lg-4">
			  <div class="vertical-item content-padding text-center grow">
				<div class="item-media">
				  <img [src]="technique.photo" alt="">
				  <div class="media-links"></div>
				</div>
				<div class="item-content hero-bg">
				  <h5>
					<a routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page">{{ technique.title }}</a>
				  </h5>
				  <p>{{ technique.recap }}</p>
				</div>
			  </div>
			</div>
		  </div>
	</div>
</section>