<section class="ls s-pt-75 s-pb-30 s-pt-md-100 s-pb-md-75 s-py-lg-50 c-gutter-30 c-mb-50 c-mb-md-30">
	<div class="container">
		<div class="row">
            <div class="d-none d-lg-block divider-30"></div>
            <div class="col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <h2>
                        La Précision à Votre 

                        <mark>Service</mark>
                    </h2>
                    <p>
                        Chez DETEC, notre expertise en soudage dépasse les attentes. Nous combinons technologie avancée et savoir-faire technique pour offrir des solutions sur mesure qui renforcent votre compétitivité.                    </p>

                    </div>
            </div>
        </div>
		<div class="row">
			<div *ngFor="let technique of techniques" class="col-12 col-md-6 col-lg-4">
			  <div class="vertical-item content-padding text-center grow">
				<div class="item-media">
				  <img [src]="technique.photo" alt="">
				  <div class="media-links"></div>
				</div>
				<div class="item-content hero-bg">
				  <h5>
					<a  routerLink="/sg" routerLinkActive="active" ariaCurrentWhenActive="page">{{ technique.title }}</a>
				  </h5>
				  <p>{{ technique.recap }}</p>
				</div>
			  </div>
			</div>

			<div class="row">
			
				<div class="d-none d-lg-block divider-70"></div>
	
	
				<div class="col-lg-6 animate" data-animation="fadeInLeft">
					<img src="./assets/images/service/single-01.jpg" alt="">
				</div>
				<!-- .col-* -->
				<div class="col-lg-6 animate" data-animation="fadeInRight">
					<div class="item-content">
						<h3>Assemblage </h3>
						<p>
							Nous comprenons l'importance de l'assemblage dans la réussite de vos projets. Notre équipe est habituée à travailler en étroite collaboration avec vos équipes pour garantir un assemblage parfaitement aligné avec vos spécifications.						</p>
						<ul class="list-styled ticket">
							<li class="ticket">
								<strong class="ticket">Netteté Innovante :</strong>Nous réduisons les projections et résidus, simplifiant le nettoyage et maintenant la propreté du site.
							</li>
							<li>
								<strong class="ticket"> Efficacité Optimale :</strong>
								Nos méthodes avancées accélèrent les soudures, boostant la productivité et le respect des délais.
							</li>
						
						</ul>
					</div>
				</div></div>					
				<div class="row">
			
					<div class="d-none d-lg-block divider-70"></div>
		
		
					
					<!-- .col-* -->
					<div class="col-lg-6 animate" data-animation="fadeInRight">
						<div class="item-content">
							<h3>Montage de Tuyauterie </h3>
							<p>
								Nous comprenons l'importance fondamentale du montage de tuyauterie dans la réussite de vos projets. Notre équipe aguerrie travaille en étroite collaboration avec vos équipes pour garantir un assemblage parfaitement aligné avec vos spécifications, assurant ainsi l'intégrité et la performance optimale de votre réseau de tuyauterie.							</p>
							<ul class="list-styled ticket">
								<li class="ticket">
									<strong class="ticket">Excellence en Montage :</strong>Nous garantissons l'intégrité et la performance de vos réseaux de tuyauterie, respectant scrupuleusement vos spécifications.
								</li>
								<li>
									<strong class="ticket"> Collaboration et Précision :</strong>Notre équipe collabore étroitement avec la vôtre pour assurer un assemblage précis et conforme à vos attentes.
																
							</ul>
							
						</div>
						
					</div><div class="col-lg-6 animate" data-animation="fadeInLeft">
						<img src="./assets/images/service/single-01.jpg" alt="">
					</div></div>
		</div>
	</div>
</section>