<section class="ls s-pt-60 s-pb-75 s-py-lg-100 team-carousel" id="team">
    <div class="container">
        <div class="row animate" data-animation="fadeInUp">
            <div class="d-none d-lg-block divider-5"></div>
            <div class="col-sm-12 text-center">
                <h2 class="header-section">Fondateurs</h2>
                <div class="owl-carousel team-carousel" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2"
                    data-responsive-xs="1" data-nav="false" data-loop="true" data-center="true">
                    <div *ngFor="let personne of personnes"
                        class="vertical-item hero-bg content-padding text-center shadow-mid ">
                        <div class="item-media">
                            <img [src]="'http://localhost:8000/storage/uploads/'+personne.photo" alt="">
                            <div class="media-links">
                                <a></a>
                            </div>
                        </div>
                        <div class="item-content">
                            <h5>
                                <a>{{personne.name}}</a>
                            </h5>

                            <p class="small-text color-main">
                                {{personne.post}}
                            </p>
                            <p>
                                {{personne.description}}
                            </p>

                        </div>
                        <div class="link">
                            <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"
                                class="btn btn-link">voir Plus</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>