<section class="ls s-pt-0 s-pb-20 s-py-md-20 s-pt-lg-100 s-pb-lg-75 c-my-5 c-gutter-100 founder-bio" id="founder">
    <div id="speciality" class="cover-image s-cover-right"></div>
    <!-- half image background element -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <img  src="./assets/images/18.png" alt="">
                <!-- half image source -->
            </div>
            <div class="col-md-6 order-md-1">
                <div class="item-content">
                    <h2>
                        <a href="team-single.html">Engagement Écologique</a>
                    </h2>
                    <p class="small-text color-main">
                        Durabilité Supérieure
                    </p>
                    <p style="text-align: justify;">
                        Nous avons également instauré un programme de formation continue, spécialement conçu pour répondre aux exigences particulières de nos clients. Ce programme est renforcé par une certification attestant de la qualité de nos initiatives de formation, témoignant de notre engagement envers l'excellence et la satisfaction client.
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block divider-10"></div>
    </div>
</section>