//color schemes
//1
$styleNumber: '';
$colorMain: #f9a34f;
$colorMain2: #e26939;
$colorMain3: #5d7cab;
$colorMain4: #56d7fe;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;