//color schemes
//3
$styleNumber: '3';
$colorMain: #e26939;
$colorMain2: #fcbe11;
$colorMain3: #5d7cab;
$colorMain4: #56d7fe;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;