<section class="ls s-pt-50 s-pb-75 s-py-lg-75 pricing">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block divider-55"></div>
                <h2 class="col-sm-12 text-center header-section">Nos Pack</h2>

            <div class="divider-50 d-none d-lg-block"></div>

            <div class="divider-30 d-none d-lg-block"></div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-12">

                <div class="pricing-plan bordered pricing shadow-left grow">
                    <div class="plan-name bg-none ls">
                        <h3>
                            pack Débutant
                        </h3>
                    </div>
                    <!-- <div class="price-wrap color-darkgrey">
                        <span class="plan-sign">€</span>
                        <span class="plan-price">49</span>
                        <span class="plan-decimals">.95</span>
                    </div> -->
                    <hr>
                    <div class="plan-description small-text color-darkgrey">
                        Pour démarrer votre entreprise
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li>Jusqu'à 5 membres de l'équipe</li>
                            <li>1 projet</li>
                            <li>Facturation &amp; Suivi des dépenses</li>
                            <li>Appel Q+A</li>
                            <li>Support par email &amp; chat</li>
                        </ul>
                    </div>
                    <div class="plan-button ls ms">
                        <a href="#" class="btn btn-outline-maincolor btn-price">demander un devis</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-12">

                <div class="pricing-plan plan-featured bordered pricing shadow-mid grow">
                    <div class="plan-name bg-maincolor ls ms shadow-mid-top">
                        <h3 id="mid">
                            pack Business
                        </h3>
                    </div>
                    <!-- <div class="price-wrap color-darkgrey">
                        <span class="plan-sign">€</span>
                        <span class="plan-price">99</span>
                        <span class="plan-decimals">.95</span>
                    </div> -->
                    <br>
                    <div class="plan-description small-text color-darkgrey">
                        <hr>
                        Meilleur choix
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li>Jusqu'à 10 membres de l'équipe</li>
                            <li>5 projets</li>
                            <li>Facturation &amp; Suivi des dépenses</li>
                            <li>Rapport écrit</li>
                            <li>Support par email &amp; chat</li>
                        </ul>
                    </div>
                    <div class="plan-button ls ms">
                        <a href="#" class="btn btn-outline-maincolor btn-price" id="mida">demander un devis</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-12 mx-sm-auto">

                <div class="pricing-plan bordered pricing shadow-right grow">
                    <div class="plan-name bg-none">
                        <h3>
                            pack Expert
                        </h3>
                    </div>
                    <!-- <div class="price-wrap color-darkgrey">
                        <span class="plan-sign">€</span>
                        <span class="plan-price">199</span>
                        <span class="plan-decimals">.95</span>
                    </div> -->
                    <hr>
                    <div class="plan-description small-text color-darkgrey">
                        Pour les grandes entreprises
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li>Jusqu'à 30 membres de l'équipe</li>
                            <li>10 projets</li>
                            <li>Facturation &amp; Suivi des dépenses</li>
                            <li>Rapport écrit</li>
                            <li>Support par email &amp; chat</li>
                        </ul>
                    </div>
                    <div class="plan-button ls ms">
                        <a href="#" class="btn btn-outline-maincolor btn-price">demander un devis</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
