<section class="ls s-pt-75 s-pb-40 s-pt-lg-50 s-pb-lg-75 careers">
    <div class="container">
        <div class="row ">

            <div class="d-none d-lg-block divider-60"></div>

            <div class="col-md-12">

                <h4>Qui sommes-nous ? </h4>

                <h5 class="color-main"> Votre expert en soudage de précision</h5>
                <p style="text-align: justify; text-align-last: center">
                    Chez <span style="font-weight: bold;">DETEC SERVICE-INDUSTRIELS</span> nous nous positionnons en tant que leader incontesté dans le domaine du soudage de sous-traitance pour une variété d'industries. Nous adoptons des équipements de pointe et des méthodes de soudage de la plus haute qualité pour garantir une précision et une excellence sans faille dans chacun de nos projets.
                </p>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <ul class="list-styled">
                            <li class="part1-list-item">Projets de soudure sur mesure</li>
                            <li class="part1-list-item">Utilisation de technologies de pointe</li>
                            <li class="part1-list-item">Engagement envers la satisfaction client</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-styled">
                            <li class="part1-list-item">Innovation continue</li>
                            <li class="part1-list-item">Respect des normes environnementales</li>
                            <li class="part1-list-item">Formation et développement de nos équipes</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
