<div class="card mx-4 mb-4 marg-4">
    <div class="d-flex flex-row justify-content-between card-header">
      <div><p>Liste des Statistiques</p></div>
      <div><button class="btn btn-secondary" (click)="onAdd()">+ Nouvelle Statistique</button></div>
    </div>
    <div class="card-body px-0 pt-0 pb-0">
      <div class="table-responsive p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Photo</th>
              <th class="text-center">Titre</th>
              <th class="text-center">Pourcentage</th>
              <th class="left-button-cont">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stat of stats">
              <td class="text-center">{{ stat.id }}</td>
              <td class="text-center"><i [class]="stat.photo"></i></td>
              <td class="text-center">{{ stat.title }}</td>
              <td class="text-center">{{ stat.percent }} % </td>
              <td class="left-button-cont">
                <button class="btn" (click)="onEdit(stat)"><i class="fa fa-edit cursor-pointer text-secondary"></i></button>
                <button class="btn" (click)="onDelete(stat.id)"><i class="fa fa-trash cursor-pointer text-secondary"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Formulaire pour ajouter/modifier une statistique -->
        <div *ngIf="showForm" class="modal" [ngClass]="{'show': showForm}">
          <div class="modal-content">
              <span class="close" (click)="closeForm()">&times;</span>
              <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                  <div class="form-group">
                      <label for="photo">Photo</label>
                      <input type="file" id="photo" name="photo" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="title">Titre</label>
                      <input type="text" id="title" [(ngModel)]="currentStat.title" name="title" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="percent">Pourcentage</label>
                      <input type="text" id="percent" [(ngModel)]="currentStat.percent" name="percent" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">{{ isEditing ? 'Modifier' : 'Ajouter' }}</button>
              </form>
          </div>
        </div>

      </div>
    </div>
</div>
