<div class="card gutty">
  <div class="px-0 pt-0 pb-0 mx-4 ms-4 row justify-content-center card-body">
    <div class="col-md-12 col-lg-12 col-sm-12 card">
      <div class="card-header d-flex flex-wrap justify-content-between">
        <p>Liste des Salaires</p>
      </div>
      <div class="card-body table-responsive">
        <div class="d-flex justify-content-between mb-3">
          <button class="btn btn-secondary" (click)="loadPreviousDay()"><</button>
          <input type="date" [formControl]="dateControl" (change)="loadPricesForDate()" class="form-control w-25">
          <button class="btn btn-secondary" (click)="loadNextDay()">></button>
        </div>
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>Employé</th>
              <th>Heures Ouvrables</th>
              <th>Montant Reçu Hier</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.personne_id }}-{{ employee.personne_name }}</td>
              <td>{{ employee.heure || 'Not assigned yet' }} </td>

              <td>{{ employee.daily_price || 'Not assigned yet' }} €</td>
              <td>
                <!-- <button class="btn btn-success" (click)="onAddEmployeeSalary(employee)"><i class="fa fa-plus"></i></button> -->
                <button class="btn btn-secondary" (click)="onEditEmployee(employee)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger" (click)="onDeleteEmployee(employee.id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <h5>Total des Salaires: {{ calculateTotalSalaries() }} €</h5>
        <h5>Total des Heures: {{ calculateTotalHeures() }} H</h5>
      </div>
    </div>
    <br>
    <div class="col-md-12 col-lg-12 col-sm-12 card">
      <div class="card-header d-flex flex-wrap justify-content-between">
        <p>Liste des Charges</p>
        <button class="btn btn-secondary" (click)="onAddCharge()">+ Nouvelle Charge</button>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>Type de Charge</th>
              <th>Montant</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let charge of charges">
              <td>{{ charge.name }}</td>
              <td>{{ charge.price }} €</td>
              <td>
                <button class="btn btn-secondary" (click)="onEditCharge(charge)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger" (click)="onDeleteCharge(charge.id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <h5>Total des Charges: {{ calculateTotalCharges() }} €</h5>
      </div>
    </div>
  </div>
</div>

<!-- Formulaire pour ajouter/modifier un employé -->
<div *ngIf="showEmployeeForm" class="modal" [ngClass]="{'show': showEmployeeForm}">
  <div class="modal-content">
    <span class="close" (click)="closeEmployeeForm()">&times;</span>
    <form [formGroup]="employeeForm" (ngSubmit)="onSaveEmployee()">
      <div class="form-group">
        <label for="dailyPrice">Montant</label>
        <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control">
      </div>
      <div class="form-group">
        <label for="heure">Heure Travaillé</label>
        <input type="number" id="heure" formControlName="heure" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">{{ editingEmployeeId ? 'Modifier' : 'Ajouter' }}</button>
    </form>
  </div>
</div>

<!-- Formulaire pour ajouter/modifier une charge -->
<div *ngIf="showChargeForm" class="modal" [ngClass]="{'show': showChargeForm}">
  <div class="modal-content">
    <span class="close" (click)="closeChargeForm()">&times;</span>
    <form [formGroup]="chargeForm" (ngSubmit)="onSaveCharge()">
      <div class="form-group">
        <label for="name">Type de Charge</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="price">Montant</label>
        <input type="number" id="price" formControlName="price" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">{{ editingChargeId ? 'Modifier' : 'Ajouter' }}</button>
    </form>
  </div>
</div>
