<section class="ls page_slider">
    <div class="flexslider">
        <ul class="slides">
            <li class="ls ms text-center">
                <img id="banner1" src="./assets/images/16.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">


                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="pullDown">
                                        <h3 class="intro_before_featured_word">
                                            Précision Ponctuelle
                                        </h3>
                                    </div>
                                    <div class="intro_layer" data-animation="pullUp">
                                        <h2 class="text-uppercase intro_featured_word">
                                            Votre vision                                       </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <h2 class=" text-uppercase intro_featured_word after_featured">
                                             parfaitement soudée                                        </h2>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container-fluid -->
            </li>
            <li class="ls ms text-center">
                <img id="banner2" src="./assets/images/6.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <h3 class="intro_before_featured_word">
                                            Vision Métallique

                                        </h3>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <h2 class="text-uppercase intro_featured_word">
                                            Avançons ensemble :
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <h2 class=" text-uppercase intro_featured_word after_featured">
                                            à temps, à chaque fois                                        </h2>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container-fluid -->
            </li>

            <li class="ls ms text-center">
                <img id="banner3" src="./assets/images/17.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <h3 class="intro_before_featured_word">
                                            Artisanat d'Acier
                                        </h3>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <h2 class="text-uppercase intro_featured_word">
                                            Sculpter l'acier
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeInUp">
                                        <h2 class=" text-uppercase intro_featured_word after_featured">
                                            façonner l'avenir
                                        </h2>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container-fluid -->
            </li>
        </ul>
    </div>
    <!-- eof flexslider -->
</section>