<h3>Liste des Expertises</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>Title</th>
            <th>Recap</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expertise of expertises">
            <td>{{ expertise.id }}</td>
            <td><img [src]="'http://localhost:8000/storage/uploads/'+ expertise.photo" alt="{{ expertise.title }}" width="50"></td>
            <td>{{ expertise.title }}</td>
            <td>{{ expertise.recap }}</td>
            <td>
                <button class="btn btn-warning" (click)="onEdit(expertise)">Modifier</button>
                <button class="btn btn-danger" (click)="onDelete(expertise.id)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Formulaire pour ajouter/modifier une expertise -->
<div *ngIf="showForm" class="modal" [ngClass]="{'show': showForm}">
    <div class="modal-content">
        <span class="close" (click)="closeForm()">&times;</span>
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group">
                <label for="photo">Photo</label>
                <input type="file" id="photo" (change)="onFileChange($event)" name="photo" class="form-control">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" [(ngModel)]="currentExpertise.title" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="recap">Recap</label>
                <textarea id="recap" [(ngModel)]="currentExpertise.recap" name="recap" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-success">{{ isEditing ? 'Modifier' : 'Ajouter' }}</button>
        </form>
    </div>
</div>

<button class="btn btn-primary" (click)="onAdd()">Ajouter une nouvelle expertise</button>
