<section class="ls s-pt-75 s-pb-20 s-pt-lg-100 s-pb-lg-30 c-gutter-60 c-mb-50 c-mb-md-60 service-icon" id="services">
	<div class="container">
	  <div class="row">
		<div class="d-none d-lg-block divider-30"></div>
		<div class="col-lg-8 offset-lg-2">
		  <div class="main-content text-center">
			<h2>
			  <mark>Excellence</mark> Certifiée
			</h2>
			<p>
			  Chez DETEC, la précision n'est pas seulement un objectif, c'est une garantie. Nos certifications industrielles attestent de notre engagement envers la qualité et l'innovation dans toutes nos spécialisations en soudage.
			</p>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div *ngFor="let certif of certifs" class="col-12 col-md-6 col-lg-4 animate animated fadeInUp" style="z-index:999;" data-animation="fadeInUp">
		  <div class="ls icon-box text-center service-box service-dark grow">
			<img [src]="certif.photo" alt="">
			<h5>
			  <a [routerLink]="['/sgc', certif.id]" routerLinkActive="active" ariaCurrentWhenActive="page">{{ certif.title }}</a>
			</h5>
			<p>{{ certif.recap }}</p>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  