<div id="canvas">
    <div id="box_wrapper">

        <!-- template sections -->

        <!--topline section visible only on small screens|-->


        <!-- header with three Bootstrap columns - left for logo, center for navigation and right for includes-->
        <div class="header_absolute">
            <header  id="navbar" class=" page_header justify-nav-center">
                <div  class="navbars ls container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-3 col-11">
                            <a  class="logo">
                                <img id="detec" src="./assets/images/LOGOR.svg" alt="">
                            </a>
                        </div>
                        <div class="col-xl-8 col-lg-6 col-1 text-sm-center">
                            <!-- main nav start -->
                            <nav  class="top-nav ">
                                <ul id="navul" class="nav sf-menu justify-content-center text-center">


                                    <li >
                                        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" >Home</a>
                                    </li>
                                    <li >
                                        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" >About</a>
                                    </li>
                                    <li>
                                        <a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page" >Services</a>  
                                    </li>
                                    <!-- gallery -->
                                    <li class="active">
                                        <a routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolio</a>
                                     </li>
                                           
                                    <!-- eof Gallery -->
                                    <li>
                                        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" >Contact</a>
                                    </li>
                                </ul>


                            </nav>
                            <!-- eof main nav -->
                        </div>
                        <div class="col-xl-2 col-lg-3 text-md-left text-xl-right d-none d-lg-block">

                            <ul class="top-includes">


                                <li>

                                    <span class="social-icons">
                                        <!-- <a href="#" class="fa fa-facebook border-icon rounded-icon" title="facebook"></a> -->
                                        <!-- <a href="#" class="fa fa-twitter border-icon rounded-icon" title="twitter"></a> -->
                                        <a href="javascript:;" id="alang"type="button"  class="fa rounded-icon" title="clear mode" ><img id="lang" height="32" width="32" src="./assets/images/langb.png" ></a>
                                        <a href="javascript:;" id="atheme"type="button" (click)="toggleTheme()" class="fa rounded-icon" title="clear mode" ><img id="toggle-icon" height="32" width="32" src="./assets/images/moon.png" ></a>
                                    </span>
                                </li>


                            </ul>

                        </div>
                    </div>
                </div>
                <!-- header toggler -->
                <span class="toggle_menu">
                    <span></span>
                </span>
            </header>
        </div>
        