.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 2px solid #e9ecef;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.coli{
  color: #4d4a4a;
}
.card-body {
  padding: 2rem;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #17a2b8;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
