<div class="card mx-4 mb-4 ">
    <div class="d-flex flex-row justify-content-between card-header">
        <div>        <p>Liste des Expertises</p>        </div>
        <div><button class="btn btn-secondary btn-head-tab" (click)="onAdd()">  + Nouvelle Expertises</button></div>
    </div>
<div class="card-body px-0 pt-0 pb-0">
<div class="table-responsive p-0">
<table class="table table-striped">
    
    <thead >
        <tr >
            <th class="text-center">ID</th>
            <th class="text-center">Photo</th>
            <th class="text-center">Title</th>
            <th class="text-center">Recap</th>
            <th class="left-button-cont">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expertise of expertises">
            <td class="text-center">{{ expertise.id }}</td>
            <td class="text-center"><img [src]="'http://localhost:8000/storage/uploads/'+ expertise.photo" alt="{{ expertise.title }}" width="50"></td>
            <td class="text-center">{{ expertise.title }}</td>
            <td class="text-center">{{ expertise.recap }}</td>
            <td class="left-button-cont">
                <button class="btn" (click)="onEdit(expertise)"><i class="fa fa-edit cursor-pointer text-secondary"></i></button>
                <button class="btn" (click)="onDelete(expertise.id)"><i class="fa fa-trash cursor-pointer text-secondary"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Formulaire pour ajouter/modifier une expertise -->
<div *ngIf="showForm" class="modal" [ngClass]="{'show': showForm}">
    <div class="modal-content">
        <span class="close" (click)="closeForm()">&times;</span>
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group">
                <label for="photo">Photo</label>
                <input type="file" id="photo" (change)="onFileChange($event)" name="photo" class="form-control">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" [(ngModel)]="currentExpertise.title" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="recap">Recap</label>
                <textarea id="recap" [(ngModel)]="currentExpertise.recap" name="recap" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-success">{{ isEditing ? 'Modifier' : 'Ajouter' }}</button>
        </form>
    </div>
</div>

</div>
</div>
</div>